<!--************************************
        Features Start
*************************************-->
<section class="tg-sectionspace tg-toppadding tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="tg-features">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-feature">
                        <div class="tg-featuretitle">
                            <h2><span>01</span>Luxury Hotels</h2>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-feature">
                        <div class="tg-featuretitle">
                            <h2><span>02</span>Tourist Guide</h2>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="tg-feature">
                        <div class="tg-featuretitle">
                            <h2><span>03</span>Flights Tickets</h2>
                        </div>
                        <div class="tg-description">
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer nihil imperdiet doming...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Features End
*************************************-->