<!--************************************
        Home Slider Start
*************************************-->
<div id="tg-homebannerslider" class="tg-homebannerslider tg-haslayout">
    <div id="tg-homesliderfull" class="tg-homeslider tg-homesliderfull tg-homeslidervthree owl-carousel tg-haslayout">
        <figure class="item" data-vide-bg="poster: images/treatments/ayurveda2.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-slidercontent">
                                <h1>Ayurveda</h1>
                                <h2>Special 12 Days in China</h2>
                                <a class="tg-btn" href="/treatments/list"><span>Explore Treatments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/yoga2.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-slidercontent">
                                <h1>Yoga & Naturopathy</h1>
                                <h2>Special 12 Days in China</h2>
                                <a class="tg-btn" href="/treatments/list"><span>Explore Treatments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/unani2.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-slidercontent">
                                <h1>Unani</h1>
                                <h2>Special 12 Days in China</h2>
                                <a class="tg-btn" href="/treatments/list"><span>Explore Treatments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/siddha2.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-slidercontent">
                                <h1>Siddha</h1>
                                <h2>Special 12 Days in China</h2>
                                <a class="tg-btn" href="/treatments/list"><span>Explore Treatments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/homeopathy2.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="tg-slidercontent">
                                <h1>Homeopathy</h1>
                                <h2>Special 12 Days in China</h2>
                                <a class="tg-btn" href="/treatments/list"><span>Explore Treatments</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </figcaption>
        </figure>
    </div>
    <div id="tg-homesliderthumbnails" class="tg-homeslider tg-homesliderthumbnails tg-homeslidervthree owl-carousel tg-haslayout">
        <figure class="item" data-vide-bg="poster: images/treatments/ayurveda.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="tg-slidercontent">
                    <h1>Ayurveda</h1>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/yoga.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="tg-slidercontent">
                    <h1>Yoga & Naturopathy</h1>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/unani.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="tg-slidercontent">
                    <h1>Unani</h1>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/siddha.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="tg-slidercontent">
                    <h1>Siddha</h1>
                </div>
            </figcaption>
        </figure>
        <figure class="item" data-vide-bg="poster: images/treatments/homeopathy.jpg" data-vide-options="position: 50% 50%">
            <figcaption>
                <div class="tg-slidercontent">
                    <h1>Homeopathy</h1>
                </div>
            </figcaption>
        </figure>

    </div>
</div>
<!--************************************
        Home Slider End
*************************************-->