<!--************************************
            Loader Start
*************************************-->
<div class="loader">
    <div class="span">
        <div class="lds-facebook"><div></div><div></div><div></div></div>
    </div>
</div>


<!--************************************
            Loader End
*************************************-->
