<!--************************************
        Header Start
*************************************-->
<header id="tg-header" class="tg-header tg-haslayout">
    <div class="container-fluid">
        <div class="row">
            <div class="tg-navigationarea tg-headerfixed">
                <nav id="tg-nav" class="tg-nav">
                    <div class="navbar-header">
                        <a href="#menu" class="navbar-toggle collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                    </div>
                    <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                        <ul>
                            <li><a href="/home">Home</a></li>
                            <li class="menu-item-has-children menu-item-has-mega-menu"><a
                                        href="javascript:void(0);">treatments</a>
                                <div class="mega-menu">
                                    <ul>
                                        <li><a href="listingvone.html">list style one</a></li>
                                        <li><a href="listingvtwo.html">list style two</a></li>
                                        <li><a href="listingvthree.html">list style three</a></li>
                                        <li><a href="listingvfour.html">list style four</a></li>
                                        <li><a href="listingvfive.html">list style five</a></li>
                                        <li><a href="listingvsix.html">list style six</a></li>
                                    </ul>
                                    <div class="tg-sliderarea">
                                        <h2>Popular Tours</h2>
                                        <div class="tg-trendingtripsslider tg-trendingtrips owl-carousel">
                                            <div class="item tg-trendingtrip">
                                                <figure>
                                                    <a href="javascript:void(0);">
                                                        <img src="/images/tours/img-05.jpg" alt="image destinations">
                                                        <div class="tg-hover">
                                                            <span class="tg-stars"><span></span></span>
                                                            <span class="tg-tourduration">7 Days</span>
                                                            <span class="tg-locationname">Paris</span>
                                                            <div class="tg-pricearea">
                                                                <span>from</span>
                                                                <h4>$600</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="item tg-trendingtrip">
                                                <figure>
                                                    <a href="javascript:void(0);">
                                                        <img src="/images/tours/img-06.jpg" alt="image destinations">
                                                        <div class="tg-hover">
                                                            <span class="tg-stars"><span></span></span>
                                                            <span class="tg-tourduration">7 Days</span>
                                                            <span class="tg-locationname">Paris</span>
                                                            <div class="tg-pricearea">
                                                                <span>from</span>
                                                                <h4>$600</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="item tg-trendingtrip">
                                                <figure>
                                                    <a href="javascript:void(0);">
                                                        <img src="/images/tours/img-07.jpg" alt="image destinations">
                                                        <div class="tg-hover">
                                                            <span class="tg-stars"><span></span></span>
                                                            <span class="tg-tourduration">7 Days</span>
                                                            <span class="tg-locationname">Paris</span>
                                                            <div class="tg-pricearea">
                                                                <span>from</span>
                                                                <h4>$600</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                            <div class="item tg-trendingtrip">
                                                <figure>
                                                    <a href="javascript:void(0);">
                                                        <img src="/images/tours/img-08.jpg" alt="image destinations">
                                                        <div class="tg-hover">
                                                            <span class="tg-stars"><span></span></span>
                                                            <span class="tg-tourduration">7 Days</span>
                                                            <span class="tg-locationname">Paris</span>
                                                            <div class="tg-pricearea">
                                                                <span>from</span>
                                                                <h4>$600</h4>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li><a href="/blog">blog</a></li>
                            <li><a href="/contact">contact</a></li>
                        </ul>
                    </div>
                </nav>
                <strong class="tg-logo"><a href="/home"><img src="/images/logo.png"
                                                                  alt="image ayush logo"></a></strong>
                <div class="tg-socialsignin">
                    <div class="tg-userbox">
                        <a id="tg-btnsignin" class="tg-btn" href="#tg-loginsingup"><span>register clinic</span></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
