<!--************************************
        Our Guides Start
*************************************-->
<section class="tg-sectionspace tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-sectionhead">
                    <div class="tg-sectiontitle">
                        <h2>Meet The Guides</h2>
                    </div>
                    <div class="tg-description">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam consectetuer.</p>
                    </div>
                </div>
                <div id="tg-guidesslider" class="tg-guidesslider tg-guides owl-carousel">
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-01.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-02.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-03.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-01.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-02.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="item tg-guide">
                        <figure><img src="images/Guides/img-03.jpg" alt="image destination"></figure>
                        <div class="tg-guidecontent">
                            <div class="tg-guidecontenthead">
                                <h3>Martin Blake</h3>
                                <h4>Adventure Master</h4>
                                <ul class="tg-socialicons tg-socialiconsvtwo">
                                    <li><a href="javascript:void(0);"><i class="icon-facebook-logo-outline"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-instagram-social-outlined-logo"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="icon-twitter-social-outlined-logo"></i></a></li>
                                </ul>
                            </div>
                            <div class="tg-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--************************************
        Our Guides End
*************************************-->