<!doctype html>
<html>
<% include partials/head %>
<body class="tg-home tg-homevone">
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<% include partials/loader %>
<% include partials/mobile-menu %>
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <% include partials/menu %>
    <% include partials/home-slider %>
    <% include partials/features%>
    <% include partials/footer %>
</div>
<% include partials/loginsignup %>
<% include partials/scripts %>
</body>
</html>