<!doctype html>
<html>
<% include partials/head %>
<body class="tg-home tg-homevone">
<% include partials/loader %>
<% include partials/mobile-menu %>
<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <% include partials/menu %>
    <% include partials/listing %>
    <% include partials/footer %>
</div>
<% include partials/loginsignup %>
<% include partials/scripts %>
</body>
</html>